<div id="<%= dom_id flight %>">
  <p>
    <strong>Departure time:</strong>
    <%= flight.departure_time.strftime('%H:%M') %>
  </p>

  <p>
    <strong>Departure date:</strong>
    <%= flight.departure_date %>
  </p>

  <p>
    <strong>Arrival time:</strong>
    <%= flight.arrival_time.strftime('%H:%M') %>
  </p>

  <p>
    <strong>Arrival date:</strong>
    <%= flight.arrival_date %>
  </p>

  <p>
    <strong>Flight capacity:</strong>
    <%= flight.flight_capacity %>
  </p>

</div>
