<%= simple_form_for :search, url: root_path, method: "GET" do |f| %>
  <small>Leave any blank if you don't want to search that</small>
  <% @flying_dates = [] %>
  <% @airports.each { |airport| airport.outbound_flights.each { |flight| @flying_dates.push(flight.departure_date) } }%>
  <% @flying_dates = @flying_dates.uniq %>
  <h2>Where are you flying out of?</h2>
  <%= f.input :inbound, as: :select, collection: @airports, prompt: "Select Airport", label: false, method: "GET", url: root_path %>

  <h2>Where do you want to go?</h2>
  <%= f.input :outbound, as: :select, collection: @airports, prompt: "Select Airport", label: false, method: "GET", url: root_path %>

  <h2>How many passengers do you have?</h2>
  <%= f.input :passengers, as: :select, collection: [1, 2, 3, 4], prompt: "Passenger #", label: false, method: "GET", url: root_path %>
  <%= f.submit "Search" %>

  <h2>When are you flying?</h2>
  <%= f.input :date, as: :select, collection: @flying_dates, prompt: "Flight Dates Available", label: false, method: "GET", url: root_path %>
  <%= f.submit "Search" %>
<% end %>