<p style="color: green"><%= notice %></p>

<h1>Flights</h1>

<%= render "search" %>

<div id="all_flights">
  <h3>All Available Flights</h3>
  <% @flights.each do |flight| %>
    <%= render flight %>
    <p>
      <%= link_to "Book this flight", flight %>
    </p>
  <% end %>
</div>
<div id="search results">
  <% if @search_results %>
    <h3>Search Results</h3>
    <%= render "search_results" %>
  <% end %>
</div>
