<div id="<%= dom_id airport %>">
  <p>
    <strong>City:</strong>
    <%= airport.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= airport.state %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= airport.name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= airport.code %>
  </p>

</div>
